.elementor-125 .elementor-element.elementor-element-2be1a57>.elementor-container {
	max-width: 1320px;
}

.elementor-125 .elementor-element.elementor-element-2be1a57>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-125 .elementor-element.elementor-element-2be1a57 {
	padding: 20px 20px 22px 20px;
}

.elementor-125 .elementor-element.elementor-element-c55dd57>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-125 .elementor-element.elementor-element-c55dd57>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-125 .elementor-element.elementor-element-7d7543a img {
	width: 120px;
	max-width: 100%;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-menu-toggle {
	margin-right: auto;
	background-color: #FFFFFF;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-size: var(--e-global-typography-accent-font-size);
	font-weight: var(--e-global-typography-accent-font-weight);
	line-height: var(--e-global-typography-accent-line-height);
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-text);
	fill: var(--e-global-color-text);
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main .elementor-item:hover,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main .elementor-item:focus {
	color: #FFFFFF;
	fill: #FFFFFF;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: #FFFFFF;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-framed .elementor-item:before,
.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-framed .elementor-item:after {
	border-color: #FFFFFF;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main .elementor-item.elementor-item-active {
	color: #FFFFFF;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
	background-color: #FFFFFF;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-framed .elementor-item.elementor-item-active:after {
	border-color: #FFFFFF;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-framed .elementor-item:before {
	border-width: 1px;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-framed.e--animation-draw .elementor-item:before {
	border-width: 0 0 1px 1px;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-framed.e--animation-draw .elementor-item:after {
	border-width: 1px 1px 0 0;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-framed.e--animation-corners .elementor-item:before {
	border-width: 1px 0 0 1px;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-framed.e--animation-corners .elementor-item:after {
	border-width: 0 1px 1px 0;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-underline .elementor-item:after,
.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-overline .elementor-item:before,
.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-double-line .elementor-item:before,
.elementor-125 .elementor-element.elementor-element-a48f476 .e--pointer-double-line .elementor-item:after {
	height: 1px;
}

.elementor-125 .elementor-element.elementor-element-a48f476 {
	--e-nav-menu-horizontal-menu-item-margin: calc(30px / 2);
	--nav-menu-icon-size: 14px;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 30px;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown a,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-menu-toggle {
	color: var(--e-global-color-accent);
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown {
	background-color: #88D66C;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown a:hover,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown a.highlighted,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-menu-toggle:hover {
	color: #FFFFFF;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown a:hover,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown a.highlighted {
	background-color: #88D66C;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown a.elementor-item-active {
	color: #FFFFFF;
	background-color: #88D66C;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown .elementor-item,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: "Syne", Sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
}

.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
	margin-top: 5px !important;
}

.elementor-125 .elementor-element.elementor-element-a48f476 div.elementor-menu-toggle {
	color: #000000;
}

.elementor-125 .elementor-element.elementor-element-a48f476 div.elementor-menu-toggle svg {
	fill: #000000;
}

.elementor-125 .elementor-element.elementor-element-5763aee .elementor-button {
	font-family: var(--e-global-typography-3c3e21c-font-family), Sans-serif;
	font-size: var(--e-global-typography-3c3e21c-font-size);
	font-weight: var(--e-global-typography-3c3e21c-font-weight);
	line-height: var(--e-global-typography-3c3e21c-line-height);
	letter-spacing: var(--e-global-typography-3c3e21c-letter-spacing);
	word-spacing: var(--e-global-typography-3c3e21c-word-spacing);
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	background-color:#88D66C;
	border-radius: 12px 12px 12px 12px;
	padding: 16px 22px 16px 22px;
}

.elementor-125 .elementor-element.elementor-element-5763aee .elementor-button:hover,
.elementor-125 .elementor-element.elementor-element-5763aee .elementor-button:focus {
	color: var(--e-global-color-primary);
	background-color: #FFFFFF;
}

.elementor-125 .elementor-element.elementor-element-5763aee .elementor-button:hover svg,
.elementor-125 .elementor-element.elementor-element-5763aee .elementor-button:focus svg {
	fill: var(--e-global-color-primary);
}

@media(max-width:1024px) {
	.elementor-125 .elementor-element.elementor-element-60f88cb>.elementor-element-populated {
		margin: 0px 10px 0px 0px;
		--e-column-margin-right: 10px;
		--e-column-margin-left: 0px;
	}

	.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-accent-font-size);
		line-height: var(--e-global-typography-accent-line-height);
	}

	.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main .elementor-item {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.elementor-125 .elementor-element.elementor-element-a48f476 {
		--e-nav-menu-horizontal-menu-item-margin: calc(15px / 2);
		--nav-menu-icon-size: 14px;
	}

	.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
		margin-bottom: 15px;
	}

	.elementor-125 .elementor-element.elementor-element-069a652>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-125 .elementor-element.elementor-element-5763aee .elementor-button {
		font-size: var(--e-global-typography-3c3e21c-font-size);
		line-height: var(--e-global-typography-3c3e21c-line-height);
		letter-spacing: var(--e-global-typography-3c3e21c-letter-spacing);
		word-spacing: var(--e-global-typography-3c3e21c-word-spacing);
		border-radius: 5px 5px 5px 5px;
		padding: 10px 15px 10px 15px;
	}
}

@media(max-width:767px) {
	.elementor-125 .elementor-element.elementor-element-c55dd57>.elementor-element-populated {
		margin: 0px 0px 20px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-125 .elementor-element.elementor-element-60f88cb {
		width: 50%;
	}

	.elementor-125 .elementor-element.elementor-element-a48f476 .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-accent-font-size);
		line-height: var(--e-global-typography-accent-line-height);
	}

	.elementor-125 .elementor-element.elementor-element-a48f476 {
		--nav-menu-icon-size: 25px;
	}

	.elementor-125 .elementor-element.elementor-element-069a652 {
		width: 50%;
	}

	.elementor-125 .elementor-element.elementor-element-5763aee .elementor-button {
		font-size: var(--e-global-typography-3c3e21c-font-size);
		line-height: var(--e-global-typography-3c3e21c-line-height);
		letter-spacing: var(--e-global-typography-3c3e21c-letter-spacing);
		word-spacing: var(--e-global-typography-3c3e21c-word-spacing);
		padding: 13px 20px 13px 20px;
	}
}

@media(min-width:768px) {
	.elementor-125 .elementor-element.elementor-element-c55dd57 {
		width: 16.49%;
	}

	.elementor-125 .elementor-element.elementor-element-60f88cb {
		width: 70.612%;
	}

	.elementor-125 .elementor-element.elementor-element-069a652 {
		width: 12%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-125 .elementor-element.elementor-element-60f88cb {
		width: 68%;
	}

	.elementor-125 .elementor-element.elementor-element-069a652 {
		width: 14%;
	}
}